<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.twio142.fakeum</string>
	<key>category</key>
	<string>Security</string>
	<key>connections</key>
	<dict>
		<key>0EEC5824-2B1E-48A5-B4F3-9894001A2E46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>305FB681-8DA9-4F6C-9C38-1B3880FDD6BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>305FB681-8DA9-4F6C-9C38-1B3880FDD6BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4665F575-371B-44C6-BDA4-732AF54E382A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>65E5D5E3-D03C-4AE6-81BA-526F704A49B4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>4665F575-371B-44C6-BDA4-732AF54E382A</key>
		<array/>
		<key>53CFB8D5-1D80-415A-8340-D1FDCBFCCD36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>709E9F40-88AC-4089-897A-A2DEC16E2B38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5BB103F1-C20A-4AEC-AB23-051F4AA6816E</key>
		<array/>
		<key>65E5D5E3-D03C-4AE6-81BA-526F704A49B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBD7678B-81D5-404F-94FD-08B700728E44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B240575-52BD-4397-9404-E14A5D663E41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF97123F-C623-457B-B1E9-F417109255A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>709E9F40-88AC-4089-897A-A2DEC16E2B38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41689F12-93E0-4C28-996B-4E9753D67E71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DBCC8A91-84E2-48C3-B83F-E6E757DCCFBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2AF09E7-8ED4-4910-863F-5764BBEA6742</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DBCC8A91-84E2-48C3-B83F-E6E757DCCFBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8107E98F-5375-4E08-A89C-78153AE403E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AF2B15AC-314B-44E8-A32C-019CC8453C29</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5BB103F1-C20A-4AEC-AB23-051F4AA6816E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>028AAEC7-DBDF-40D3-98AC-E03E96FD13BB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8107E98F-5375-4E08-A89C-78153AE403E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B240575-52BD-4397-9404-E14A5D663E41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF97123F-C623-457B-B1E9-F417109255A7</key>
		<array/>
		<key>E31FF35D-3BFF-4A13-B804-7550FBD280C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EEC5824-2B1E-48A5-B4F3-9894001A2E46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>twio142</string>
	<key>description</key>
	<string>Generate Fake Data</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fakeum</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>SNIPPET_MODE</string>
				<key>keyword</key>
				<string>\fk\</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>E31FF35D-3BFF-4A13-B804-7550FBD280C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4665F575-371B-44C6-BDA4-732AF54E382A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Faking up some stuff…</string>
				<key>script</key>
				<string>python3 fakeum.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Generate Fake Data</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>fake</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>305FB681-8DA9-4F6C-9C38-1B3880FDD6BF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>0EEC5824-2B1E-48A5-B4F3-9894001A2E46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>fake</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>FBD7678B-81D5-404F-94FD-08B700728E44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>v=$(~/.local/bin/jxa -e "Application('System Events').processes['Alfred'].windows[0].textFields[0].value()")
printf ${v/#fk }</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65E5D5E3-D03C-4AE6-81BA-526F704A49B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>41689F12-93E0-4C28-996B-4E9753D67E71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>E2AF09E7-8ED4-4910-863F-5764BBEA6742</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 config.py --toggle-locale $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF97123F-C623-457B-B1E9-F417109255A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>|fk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading settings…</string>
				<key>script</key>
				<string>python3 config.py settings $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Fakeum Configuration</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53CFB8D5-1D80-415A-8340-D1FDCBFCCD36</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 config.py locales $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>locales</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B240575-52BD-4397-9404-E14A5D663E41</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>https?://.+</string>
						<key>outputlabel</key>
						<string>url</string>
						<key>uid</key>
						<string>DBCC8A91-84E2-48C3-B83F-E6E757DCCFBD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>locales</string>
						<key>outputlabel</key>
						<string>locales</string>
						<key>uid</key>
						<string>AF2B15AC-314B-44E8-A32C-019CC8453C29</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>notifications</string>
						<key>outputlabel</key>
						<string>notifications</string>
						<key>uid</key>
						<string>028AAEC7-DBDF-40D3-98AC-E03E96FD13BB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>709E9F40-88AC-4089-897A-A2DEC16E2B38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8107E98F-5375-4E08-A89C-78153AE403E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 config.py --toggle-notifications</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5BB103F1-C20A-4AEC-AB23-051F4AA6816E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0EEC5824-2B1E-48A5-B4F3-9894001A2E46</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>305FB681-8DA9-4F6C-9C38-1B3880FDD6BF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>41689F12-93E0-4C28-996B-4E9753D67E71</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>4665F575-371B-44C6-BDA4-732AF54E382A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>53CFB8D5-1D80-415A-8340-D1FDCBFCCD36</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>5BB103F1-C20A-4AEC-AB23-051F4AA6816E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>65E5D5E3-D03C-4AE6-81BA-526F704A49B4</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>6B240575-52BD-4397-9404-E14A5D663E41</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>709E9F40-88AC-4089-897A-A2DEC16E2B38</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>8107E98F-5375-4E08-A89C-78153AE403E4</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>BF97123F-C623-457B-B1E9-F417109255A7</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>E2AF09E7-8ED4-4910-863F-5764BBEA6742</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>E31FF35D-3BFF-4A13-B804-7550FBD280C9</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>FBD7678B-81D5-404F-94FD-08B700728E44</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>LIPSUM_SENTENCES</key>
		<string>7</string>
		<key>PYTHONPATH</key>
		<string>./lib</string>
		<key>SHOW_NOTIFICATIONS</key>
		<string>0</string>
		<key>keyword</key>
		<string>fk</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>SHOW_NOTIFICATIONS</string>
	</array>
	<key>version</key>
	<string>3.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/twio142/alfred-fakeum</string>
</dict>
</plist>
